.row{
    display: flex;
    justify-content: space-between;
}

.column{
    border: 1px solid gray;
    display: flex;
    width: 260px;
    height: 450px;
    flex-direction: column;
}

.general{
    padding: 0 5px;
    margin: 0 auto;
}

.general input{
    width: 100%;
    height: 80px;
    border: none;
    outline: none;
}


.row button{
    margin-top: 5px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.row .extra{
    width: 120px;
}